{% extends 'overlays/base.html' %}

{% block content %}
    <h1>Overlays</h1>

    <div>
    <a class="btn btn-primary" href="{%url 'overlays:new' %}" role="button">New overlay</a>
    </div>

    <div>
        <h2>Existing Overlays:</h2>
        <ul>
            {% for overlay in overlays %}
            <li><a href="{% url 'overlays:show' overlay.id %}">{{ overlay.name }}</a></li>
            {% empty %}
            <li>No overlays yet</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}